{% include '_history.jinja2' %}
Question: {{ question.question }}

Options (select one or more):
{% for opt in question.options %}
- "{{ opt.id }}": {{ opt.label }}
{% endfor %}

Respond with a JSON array of selected option ID strings. Example:
["{{ question.options[0].id }}"]
